<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= name %></title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <h1 class="text-red-500">Browsing the <%= name %> subreddit.</h1>
    <h2 class="text-green-600"><%= description %></h2>
    <p><%= members %> Members</p>
    <p><%= online %> Online</p>
    <hr />
    <% for(let post of posts) { %>
    <article>
      <h3><%= post.title %></h3>
      <p><%= post.author %></p>
      <% if(post.img) { %>
      <img src="<%= post.img %>" alt="" />
      <% } %>
      <hr />
    </article>
    <% } %>
  </body>
</html>
